@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('../public/goldcoast.jpg');
}


.container-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
}